.footer {
  background-color: #131416;
  width: 100%;
  min-height: 50rem;
  padding: 20rem 15rem;
  padding-bottom: 10rem;
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  justify-items: center;
  color: #fff;
}

@media only screen and (max-width: 62.5em) {
  .footer {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}

@media only screen and (max-width: 38.75em) {
  .footer {
    padding: 20rem 2rem;
  }
}

.seperated {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

/* 600 px */
@media only screen and (max-width: 37.5em) {
  .seperated ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer h6 {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.footer ul {
  list-style-type: none;
}

.footer li {
  margin-bottom: 2rem;
}

.footer a {
  color: rgba(238, 239, 246, 0.5);
  text-decoration: none;
  transition: all 0.5s;
  font-size: 1.4rem;
}

.footer a:hover {
  color: #fff;
}

.hr {
  border: none;
  border-top: 2px solid #292a2d;
  grid-column: 1 / -1;
  width: 100%;
  margin-bottom: 5rem;
}

.no {
  margin: 3rem 0 !important;
}

.left {
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
}

@media only screen and (max-width: 62.5em) {
  .left {
    grid-column: 1 / -1;
    justify-self: start;
  }
}

.left h4 {
  margin-bottom: 1rem;
  font-weight: 300;
}

.left p {
  margin-bottom: 0.5rem;
}

.gray {
  color: #808286;
}

.right {
  grid-column: 4 / 5;
  align-self: center;
}

/* 1185.6px */
@media only screen and (max-width: 74.1em) {
  .right {
    grid-column: 3/5;
  }
}

/* 1000px */
@media only screen and (max-width: 62.5em) {
  .right {
    grid-column: 1 / -1;
    justify-self: start;
  }
}

.icon:not(:last-child) {
  margin-right: 2rem;
}

.icon {
  font-size: 2.5rem;
  transition: all 0.5s;
  cursor: pointer;
}

.icon:hover {
  transform: translateY(-30%);
  opacity: 0.8;
}
